.menu-nav {
    background-color: #111;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #fff;
  }
  
  .social-icons a {
    margin-left: 15px;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
    /* filter: brightness(0) invert(1); */
    transition: filter 0.3s ease;
  }
  
  .social-icons img:hover {
    filter: brightness(0) invert(0.7);
  }
  