.menu-nav {
    background-color: #111;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #fff;
  }
  
  .social-icons a {
    margin-left: 15px;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
    /* filter: brightness(0) invert(1); */
    transition: filter 0.3s ease;
  }
  
  .social-icons img:hover {
    filter: brightness(0) invert(0.7);
  }
  
  .logout-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    filter: brightness(0) invert(1); 
    transition: filter 0.2s, transform 0.2s;
  }
  
  .logout-button:hover {
    filter: invert(21%) sepia(89%) saturate(7485%) hue-rotate(358deg) brightness(97%) contrast(126%);
    transform: scale(1.1);
  }
  
  .logout-button img {
    width: 24px;
    height: 24px;
  }
  