.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1000px; /* Coincide con el ancho de tu grid de recetas */
}
  
.page {
  background: #fff;
  padding: 10px 15px;
  font-size: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  color: #c4513b;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  outline: none;
  border: none; /* sin bordes */
}

/* Hover para efecto más marcado */
.page:hover {
  background-color: #fbe4e1;
  color: #a6321c;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}



.page.active {
  background: #ff5722;
  color: white;
  font-weight: bold;
}

.page.dots {
  cursor: default;
  box-shadow: none;
}
